* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.item {
  border: 4px solid black;
  width: 825px;
  margin: 15px auto;
  position: relative;
}

.item-header {
  padding: 15px;
  text-align: center;
  background-color: #a1a1a1;
  font-size: 30px;
  text-transform: uppercase;
}

.item-img {
  margin-right: 40px;
  height: 250px;
  width: 250px;
}
/* Display init */
.container {
  display: flex;
  gap: 20px;
}

.container-info {
  flex: 1;
  margin-top: 20px;
  margin-right: 40px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.item-price {
  font-size: 24px;
}

.item-description {
  margin: 8px 0 15px 0;
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(0, 0, 0, 0.5);
}

.item-info {
  margin-bottom: 15px;
}

.item-description:link .information-link:visited {
  color: #a1a1a1;
  text-transform: uppercase;
  font-weight: bold;
}

.information-link {
  color: #000;
}

.information-link:hover .information-link:active {
  text-decoration: none;
}

.container-details {
  flex: 1;
}

.product-details {
  margin: 30px 0 0 0;
  font-size: 20px;
  text-transform: uppercase;
}

.details-list {
  margin: 0 0 0 20px;
  list-style: square;
}

.details-list li {
  margin: 10px 0;
}

.btn {
  font-size: 25px;
  background-color: #000;
  color: #fff;
  border-top: 5px solid #000;
  cursor: pointer;
  padding: 15px;
  width: 100%;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.sale {
  position: absolute;
  background-color: #f00;
  text-transform: uppercase;
  padding: 5px 25px;
  color: #fff;
  letter-spacing: 5px;
  font-weight: bold;
  top: -15px;
  left: -65px;
}

.colors {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.color {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.color-black {
  background-color: #000;
}

.color-blue {
  background-color: #00f;
}

.color-red {
  background-color: #f00;
}

.color-yellow {
  background-color: #ff0;
}

.color-green {
  background-color: #0f0;
}

.color-brown {
  background-color: #885214;
}

.clearfix::after {
  content: "clearfix";
  display: block;
  clear: both;
  color: #f00;
}
