* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  /* position: relative; */
}

.item {
  border: 4px solid black;
  width: 825px;
  margin: 15px auto;
  position: relative;

  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}

p {
  margin: 15px 5px;
}

.item-header {
  padding: 15px;
  text-align: center;
  background-color: #a1a1a1;
  font-size: 30px;
  text-transform: uppercase;
  grid-column: 1 / -1;
}

.ship-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.item-price {
  font-size: 24px;
}

.item-description {
  margin: 0 0 15px 0;
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(0, 0, 0, 0.5);
}

.item-description:link .information-link:visited {
  color: #a1a1a1;
  text-transform: uppercase;
  font-weight: bold;
}

.information-link {
  color: #000;
}

.information-link:hover .information-link:active {
  text-decoration: none;
}

.product-details {
  margin: 30px 0 0 0;
  font-size: 20px;
  text-transform: uppercase;
}

.details-list {
  margin: 0 0 0 20px;
  list-style: square;
}

.details-list li {
  margin: 10px 0;
}

.btn {
  font-size: 25px;
  background-color: #000;
  color: #fff;
  border-top: 5px solid #000;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  grid-column: 1 / -1;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.sale {
  position: absolute;
  background-color: #f00;
  text-transform: uppercase;
  padding: 5px 25px;
  color: #fff;
  letter-spacing: 5px;
  font-weight: bold;
  top: -30px;
  left: -75px;
}

.colors {
  margin: 20px;
}

.color {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.color-black {
  background-color: #000;
}

.color-blue {
  background-color: #00f;
}

.color-red {
  background-color: #f00;
}

.color-yellow {
  background-color: #ff0;
}

.color-green {
  background-color: #0f0;
}

.color-brown {
  background-color: #885214;
}
